<form #f="ngForm" (ngSubmit)="submit(f)">
<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text"  name="username" ngModel class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="email">Email:</label>
  <input type="text" name="email" ngModel class="form-control" id="email">

</div>
<div>
  <select class="form-control">
    <option  *ngFor="let country of countriesList" ngModel class="form-control" [value]="country.name" name="countryName" id="countryName">{{country.name}}</option>
  </select>
</div>
<button  class="btn btn-primary">submit</button>
<hr>

</form>
{{details | json}}