<form>
<div class="form-group">
  <label for="usr">Username:</label>
  <input type="text"  name="username" [(ngModel)] = "details.username" class="form-control" id="usr">
  
</div>

<!-- <div class="form-group">
  <label for="email">Lastname:</label>
  <input type="text" name="email" [(ngModel)] = "details.Lastname" class="form-control" id="email">
  
</div> -->
<!-- <div class="form-group">
  <label for="email">Email:</label>
  <input type="text" name="email" [(ngModel)] = "details.email" class="form-control" id="email">

</div> -->
<div class="form-group">
  <label for="email">password:</label>
  <input type="text"  name="email" [(ngModel)] = "details.password" class="form-control" id="email">

</div>
<!-- <div class="form-group">
  <label for="email">Phno:</label>
  <input type="text" name="email" [(ngModel)] = "details.Phno" class="form-control" id="email">

</div> -->
<div>
  <!-- <select class="form-control" [(ngModel)] = "details.countryName" [ngModelOptions]="{standalone: true}">
    <option  *ngFor="let country of countriesList" class="form-control" [value]="country.name">{{country.name}}</option>
  </select> -->
</div>
<!-- <button  class="btn btn-primary" (click)="submit()">submit</button> -->

<hr>
<li (click)="loadPage('submit')">
  <a href="#" [routerLink]="['submit']">submit</a>
</li>


</form>
<!-- {{details | json}}/ -->

