<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->



<div class="section">
		<div class="one">
				<!-- <img src="./assets/images/download.png">/ -->
		<div class="container">
				<div class="row login">
						<div class="card card1">
								<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
										<form role="form" class="form1" id="loginform">
												<div class="form-group text-center">
														<div class="logo">
																<img src="./assets/images/checkbac2.png" class="set-logo">
														</div>
												</div>
												<blockquote>
												<div class="form-group">
														<!-- <label for="exampleInputEmail1" class="label">Username</label> -->
														<input type="text" class="form-control" placeholder="Username" id="userid">
												</div>
												 <div id="error"></div>
												<div class="form-group">
														<!-- <label for="exampleInputEmail1" class="label">Password</label>/ -->
														<input type="password" class="form-control" placeholder="password"  id="password">
												</div>
											</blockquote>
												 <div id="error1"></div>
												<div class="form-group pull-right">
														<!-- <button type="button" class="btn">sign in</button>/ -->
														<button type="button" class="btn btn-default btn-sm" id="loginbtn" routerLink="/signin">sign in
														</button>
												</div><br>
												<div class="form-group ">
														 <a href="" class="pull-left last-row one">Forgot username?</a>
	
											<br>
												<div class="form-group ">
													<a href="" class="pull-left last-row two">Forgot your Password?</a>
	
										 </div>
										 </div>
										</form>
								</div>
						</div>
				</div>
		</div>
		</div>
		</div>