<!--The content below is only a placeholder and can be replaced.-->
<!-- <input type="text" name="firstname" [(ngModel)]="name">

<h1>{{name}}</h1> -->


<app-body></app-body> 
<!-- <app-header></app-header>/ -->
<!-- <app-settings></app-settings>/ -->
<!-- <app-registration></app-registration>/-->
<!-- <app-login></app-login>/ -->
<!-- <app-signin></app-signin>/ -->
<!-- <app-home></app-home>/ -->
<!-- <app-basic></app-basic>/ -->

 <!--<app-admin></app-admin>/-->
<!--<app-server></app-server>/-->
<!-- <app-server-edit></app-server-edit>/ -->
<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="messageObject" class="alert alert-success">{{messageObject.text}}</div>
        </div>
    </div>
</div>
<!-- <input type="file" accept=".csv" (change)="csv2Array($event)">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div style="width: 100%; height: 400px;">
                
                <ngx-charts-line-chart [results]="dataList" xAxis="true" yAxis="ture" autoScale="true" (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div> -->
<!-- <p>esxdctfvgbhnjm</p>/ -->