<div id="section">

  <div class="col-md-12 first">
      <div class="col-md-2 one">
  <div id="wrapper">
  
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="#home"><span class="fa fa-home solo">Home</span></a>
                </li>
                <li>
                    <a href="#anch1" data-scroll>
                      <img src="./assets/images/check2.png">
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Admin</span>
                    </a>
                </li>
                <li>
                    <a href="#anch3" data-scroll>
                        <span class="fa fa-anchor solo">Test Now</span>
                    </a>
                </li>
                <li>
                    <a href="#anch4" data-scroll>
                        <span class="fa fa-anchor solo">More</span>
                    </a>
                </li>
                <li>
                  <a  data-scroll>
                      <span class="fa fa-anchor solo" routerLink="/support">Support</span>
                  </a>
              </li>
            </ul>
        </nav>
    </div>
    </div>
    </div>
    <div class="col-md-10">
        <p class="divi">HOME > USERS>AL Bundy >(...6789c)</p>
    <div class="container">
  
  <div class="col-md-12">
    <div class="col-md-6 new1">
        <div class="w3-card-4">
            <header class="w3-container w3-blue first">
               <div class="col-md-6 pull-left">
                  <address>
                      <strong>NAME</strong><br>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
               </div>
               <div class="col-md-6 pull-right">
                 <img src="">
               </div>
            </header>
            <hr>
            <div class="w3-container second">
                <div class="col-md-12 elem">
                    <div class="col-md-3  elem1">Activity</div>
                    <div class="col-md-3  elem2">Basic info</div>
                    <div class="col-md-3  elem3">User Info</div>
                    <div class="col-md-3  elem4">Monitors&Alerts
               </div>   
            </div>
                
            </div>
            <div class="row milk">
                <div class="col-md-12">
                    <div class="col-md-6 pull-left">
                        <button type="button" class="btn btn-default button"> Send immediate BAC test
                        </button>
                    </div>
                    <div class="col-md-6 pull-right">
                        <button type="button" class="btn btn-default button"> Generate user report
                        </button>
                    </div>
                </div>
            </div>
          </div>
        </div>  
    </div>
  </div>
  </div>
  </div>
  </div>